@import "fonts"
@import "libs"
@import "vars"

*
	box-sizing: border-box

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: $color-grey
	max-width: 1366px
	margin: 0 auto

	--sidebar-width: 314px

.img-responsive
	display: block
	max-width: 100%
	height: auto

.topbar
	display: flex
	position: fixed
	top: 0
	width: 100%
	max-width: 1366px
	padding-left: var(--sidebar-width)
	margin: 0 auto
	height: 80px
	background-color: $color-top-bg
	color: $color-white

	&__path
		margin: auto 0 auto 40px

	&__period
		margin: auto 25px auto auto

	&__report
		margin-right: 30px

	&__select
		width: 143px
		height: 30px
		text-indent: 20px

.sidebar
	position: fixed
	top: 0
	left: 0
	bottom: 0
	width: var(--sidebar-width)
	background-color: $color-side-bg
	color: $color-white
	transition: width $time ease

	&-mobile
		display: none

	&__title
		position: relative
		height: 80px
		padding: 10px 0 0 30px
		font-size: 0
		overflow: hidden

	&__title-l
		color: $color-red
		font-size: 37px

	&__title-r
		font-size: 37px	

	&__user
		height: 142px
		background: linear-gradient($color-top-bg, $color-user-bg)
		display: flex

	&__img
		display: inline-block
		width: 62px
		height: 62px
		border-radius: 50%
		overflow: hidden
		background-image: url('../img/user.jpg')
		margin: auto 0 auto 30px

	&__user-cont
		display: inline-block
		margin: auto 0 auto 25px
		overflow: hidden
		
	&__name
		font-size: 20px
		color: $color-user-name
		line-height: 24px

	&__general
		height: 75px
		padding: 18px 0 0 30px
		text-transform: uppercase
		font-size: 20px

	&__nav-list
		list-style: none
		padding: 0
		margin: 0

	&__nav-item
		font-size: 18px
		transition: all $time ease

		&.opened
			height: auto
			background-color: $color-dash-bg
			
			.sidebar__nav-link
				border-left: 8px solid $color-blue

	&__nav-link
		position: relative
		display: inline-block
		width: 100%
		height: 70px
		font-size: 18px
		text-decoration: none
		color: $color-white
		border-left: 8px solid transparent
		transition: all $time ease

		&:hover
			background-color: $color-dash-bg

	&__nav-icon
		position: absolute
		top: 22px
		left: 35px
		font-size: 24px 

	&__down
		position: absolute
		top: 30px
		right: 45px
		font-size: 12px	

	&__nav-text
		display: inline-block
		margin: 18px 0 0 80px

	&__count
		position: absolute
		right: 30px
		top: 25px
		width: 30px
		height: 20px
		border-radius: 9px
		background-color: $color-pink
		line-height: 20px
		font-size: 12px
		text-align: center

	&__dashboard-list
		display: none
		list-style: none
		margin: 0
		padding: 10px 0

		&.visible
			display: block

	&__dashboard-link
		display: inline-block
		width: 100%
		height: 40px
		padding-left: 85px
		text-decoration: none
		color: $color-white
		border-right: 8px solid transparent
		transition: all $time ease

		&:hover
			border-right: 8px solid $color-blue

		.fa
			margin-right: 10px

		&.sidebar__dashboard-link--col1
			.fa
				color: $color-pink

		&.sidebar__dashboard-link--col2
			.fa
				color: $color-blue

		&.sidebar__dashboard-link--col3
			.fa
				color: $color-dash3

		&.sidebar__dashboard-link--col4
			.fa
				color: $color-dash4
	
.sidebar--small
	.sidebar
		&__title
			padding-left: 45px

		&__title-r
			display: none

		&__general
			display: none

		&__nav-text
			display: none

		&__nav-item.opened
			height: 70px

		&__dashboard-list
			display: none

		&__down
			display: none

		&__nav-icon
			left: 42px

		&__count
			top: 20px
    		right: 25px

.mobile-nav
	display: none
	position: absolute
	top: 0
	left: 0	
	right: 0

	.sidebar
		position: relative
		top: 0
		width: 100%
	
		&__title
			padding-top: 10px
			text-align: center

		&__user
			justify-content: center

		&__general
			display: none

		&__nav-list
			text-align: center

		&__nav-icon
			position: static
			margin-right: 10px

		&__nav-text
			margin-left: 0

.btn
	display: flex
	position: absolute
	top: -59px
	left: calc(var(--sidebar-width) - 19px)
	width: 38px
	height: 38px
	background-color: $color-blue
	border-radius: 50%
	border: 2px solid transparent
	outline: none
	transform: rotate(0deg)
	transition: all $time ease

	&:hover
		border: 1px solid $color-white

	&-img
		margin: auto

	&.btn--rotate
		transform: rotate(180deg)

.content
	margin: 80px 0 0 var(--sidebar-width)
	padding: 25px

	&__nav
		display: flex
		height: 54px
		background-color: $color-table-bg
		border: 1px solid $color-border
		padding: 0 20px

	&__sort
		font-size: 14px
		font-weight: 700
		text-transform: uppercase
		margin: auto 0

		.fa
			margin-left: 3px

	&__sort-link
		text-decoration: none
		color: $color-grey

	&__buttons
		margin: auto 0 auto auto

	&__link
		color: $color-grey

		.fa
			margin-left: 20px
			font-size: 18px

	&__table
		width: 100%
		border: 1px solid $color-border
		border-top: none
		font-size: 14px
		padding: 15px

		& tr th
			text-transform: uppercase
			padding: 10px 0
			border-bottom: 1px solid $color-border

		& tr td
			text-align: center

			& img
				display: block
				width: 45px
				margin: 0 auto

.burger
	display: none
	width: 40px
	height: 40px
	position: relative
	margin: auto 20px
	transform: rotate(0deg)
	transition: .5s ease-in-out
	cursor: pointer
	border: 2px solid $color-white
	outline: none
	background-color: $color-white

	&__item
		display: block
		position: absolute
		height: 4px
		width: 80%
		margin: 0 10%
		background: $color-top-bg
		opacity: 1
		left: 0
		transform: rotate(0deg)
		transition: $time ease-in-out

		&:nth-child(1)
			top: 5px
		
		&:nth-child(2)
			top: 50%
			transform: translateY(-50%)

		&:nth-child(3)
			bottom: 5px

	&.opened
		.burger__item:nth-child(1) 
			top: 15px
			transform: rotate(135deg)

		.burger__item:nth-child(2) 
			opacity: 0
			left: -40px

		.burger__item:nth-child(3)
			bottom: 17px
			transform: rotate(-135deg)

	&:hover
		background-color: rgba($color-white, .6)
	

	

@import "media" // Всегда в конце
